html, body {
    min-height: 100vh;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#logo {
    display: none;
}




#uiCanvas {
    position:fixed;
    left:0;
    top:0;
    width:0;
    height:0;
}
