body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
}

a {
  color: white;
}


@keyframes bounce {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

#up-arrow {
  font-size: 3rem;
  position: absolute;
  right: 7%;
  top: 1%;
  color: red;
  animation: bounce 1s ease-in-out infinite alternate;

}
