extends layout
include mixins/prompt-install

block content
    if (isZoom)
        .is-hidden#main
            h1.title.has-text-centered Immersive Zoom App Sample
            h2.subtitle.has-text-centered#helpMsg Open this app in a Meeting to use it
            include includes/controls
            include includes/host-controls
        canvas#uiCanvas
        img#logo(src='/img/zoom.png')
    else
        +prompt-install(installURL)

append scripts
    if (isZoom)
        script(src='/socket.io/socket.io.js')
        script(src='/js/index.js' type='module')
