mixin prompt-install(title, installURL)
    h1.title= title
    h2.subtitle You're viewing your Immersive Zoom App through the browser&nbsp; - &nbsp
        a(href=`${installURL}`) Click Here
        | &nbsp;to install your app in Zoom.
