.is-hidden#controls
    .columns
        .column
            .field
                label.label(for='colorSel') Choose a Color:&nbsp
                .control
                    .select
                        select#colorSel(name='colors')
                            option(value='black') Black
                            option(value='blue' selected) Blue
                            option(value='green') Green
                            option(value='red') Red
                            option(value='yellow') Yellow
        .column
            .field
                label.label(for='custColorInp') Custom Color:&nbsp
                .control
                    input.input#custColorInp(type='text' name='custColorInp' placeholder='HTML Canvas Fill Style')
