.is-hidden#hostControls
    .columns
        .column
            .columns
                .column
                    label.label(for='topicInp') Add a Topic
                    .field.has-addons
                        .control.is-expanded
                            input.input#topicInp(type='text' name='topicInp' placeholder='Add a Topic')
                        .control
                            a.button#topicBtn
                                | Add
            .columns
                .column
                    .field
                        label.label(for='topicList') Topics
                        .control
                            article.panel.has-background-white#topicList
        .column
            .field
                label.label(for='castSel') Select up to 3 Participants:&nbsp
                .control
                    .select.is-multiple.is-fullwidth
                        select#castSel(multiple name='castSel' )
    .columns
        .column
            .control
                button.button.is-primary#setCastBtn Start Session