.is-hidden#hostControls
    .columns
        .column
            label.label(for='topicInp') Add Topics
            .field.has-addons
                .control.is-expanded
                    input.input#topicInp(type='text' name='topicInp' placeholder='Add a Topic')
                .control
                    a.button#topicBtn
                        | Add
            .columns
                .column
                    article.panel.has-background-white#topicList
                        p.panel-heading
                            | Topics
        .column
            .field
                label.label(for='castSel') Select up to 3 Participants:&nbsp
                .control
                    .select.is-multiple.is-fullwidth
                        select#castSel(multiple size='10' name='castSel' )
            .columns
                .column
                    .control
                        button.button.is-fullwidth#setCastBtn Show Participants
